asgiref==3.11.0
Django==6.0.1
django-environ==0.12.0
django-extensions==4.1
django-filter==25.2
djangorestframework==3.16.1
djangorestframework-gis==1.2.0
psycopg==3.3.2
psycopg-binary==3.3.2
sqlparse==0.5.5
